<div class="learning-log-container">
    <div>
        <p>
            {{#str}}summaryprefix,block_learning_log{{/str}}&nbsp;{{current_year}}
            {{#str}}annualprefix,block_learning_log{{/str}}&nbsp;{{annualhours}}
            {{#str}}verifiableprefix,block_learning_log{{/str}}&nbsp;{{verifiable}}
            {{#str}}nonverifiableprefix,block_learning_log{{/str}}&nbsp;{{nonverifiable}}
            {{#str}}summarypostfix,block_learning_log{{/str}}
        </p>
        <p><a href="{{addurl}}" class="btn btn-success btn-sm">{{#str}}addrecord,block_learning_log{{/str}}</a></p>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{#str}}event_date,block_learning_log{{/str}}</th>
                <th>{{#str}}description,block_learning_log{{/str}}</th>
                <th>{{#str}}organisation,block_learning_log{{/str}}</th>
                <th>{{#str}}duration,block_learning_log{{/str}}</th>
                <th>{{#str}}is_verifiable,block_learning_log{{/str}}</th>
                <th>{{#str}}actions,block_learning_log{{/str}}</th>
            </tr>
        </thead>
        <tbody>
            {{#records}}
            <tr>
                <td width="10%">{{event_date_formatted}}</td>
                <td>{{description}}</td>
                <td>{{organisation}}</td>
                <td width="5%" align ="center">{{duration}}</td>
                <td width="7%" align ="center">{{#is_verifiable}}Yes{{/is_verifiable}}{{^is_verifiable}}No{{/is_verifiable}}</td>
                <td width="10%">
                    <a href="{{editurl}}" class="btn btn-primary btn-sm">{{#str}}edit{{/str}}</a>
                    <a href="{{deleteurl}}" class="btn btn-danger btn-sm">{{#str}}delete{{/str}}</a>
                </td>
            </tr>
            {{/records}}
        </tbody>
    </table>
    <p><a href="{{addurl}}" class="btn btn-success btn-sm">{{#str}}addrecord,block_learning_log{{/str}}</a></p>
</div>
