/* style here to remove exiting edit profile */

#page-user-profile a.btn.btn-sm.btn-primary.btn-block.my-2, #page-user-profile  li.editprofile{
    /* display: none; */
}

#page-local-maintain_information-index .category{
    background-color: beige;
}

#page-local-maintain_information-index .field{
    background-color: lime;
}

#categoryid_1, #categoryid_2, #categoryid_3, #categoryid_4, #categoryid_5, #categoryid_6, #categoryid_7, #categoryid_8, #categoryid_9, #categoryid_10{
    display: flex; 
    flex-direction: column;
}

#page-local-maintain_information-index .header, #page-local-maintain_information-index .welcome_message{
    font-size: 24px;
    font-weight: bolder;
}

#page-local-maintain_information-index .address_header{
    font-size: 16px;
    font-weight: bold;
}

/* #page-local-maintain_information-index .form-group{
    display: inline-block;
    width: 50%;
}

#page-local-maintain_information-index .contact_details .col-form-label, #page-local-maintain_information-index .contact_details .form-inline{
    margin: 0px;
    padding: 0px;
} */